

.footer-icon-light{
    background: whitesmoke;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 6px; 
}

.footer-icon-dark{
    background: black;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 6px;
}

#nav-footer{
    background: linear-gradient(to top, #000000f8, black, #000000f8) ;
    width: 100%;
    bottom: 0;
    height: 60px;    
}

#nav-social{
    padding-top: 12px;
}