footer{
    bottom: 0;
}

.footer-icon-light{
    background: whitesmoke;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 6px; 
}

.footer-icon-dark{
    background: black;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 6px;
}

#nav-footer{
    background: linear-gradient(to top, black, black, black) ;
    display: block;
    width: 100%;
}