@media only screen and (max-width:640) {
    #imagem-quem-somos {
        width: 320px;
        height: 420px;
    }
}

section#quem-somos-apresentacao>div.apresentacao {
    animation: pulse-sobre-nos 8s infinite;
    width: 100%;
    height: fit-content;
}

section#quem-somos-banner {
    padding: 20px;
    text-align: center;
    background: url("../img/fundo-section-home-1.jpeg") center no-repeat fixed;
}

section#quem-somos-banner>h2 {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    padding: 5px;
    background-color: #000b;
    border-radius: 5px;
    color: white;
}

#imagem-quem-somos {
    margin-top: 10px;
    overflow: hidden;
}

@keyframes pulse-sobre-nos {
    0% {
        background-color: #a52a2a;
    }

    25% {
        background-color: #db039a;
    }

    75% {
        background-color: #ff6600;
    }

    100% {
        background-color: #FF4136;
    }
}

