.flex-container{
    display: flex;
}

.flex-container-wrap{
    flex-wrap: wrap
}

.space-evenly{
    justify-content: space-evenly;
}

.space-around{
    justify-content: space-around;
}

.flex-d-row{
    flex-direction: row
}

.flex-d-col{
    flex-direction: column
}

.ta-center{
    text-align: center;
}