.flex-container{
    display: flex;
}

.flex-container-wrap{
    flex-wrap: wrap
}

.space-evenly{
    justify-content: space-evenly;
}

.space-around{
    justify-content: space-around;
}

.flex-d-row{
    flex-direction: row
}

.flex-d-col{
    flex-direction: column
}

.ta-center{
    text-align: center;
}

.limit-box{
    max-width: 1366px;
}

.box-centered{
    margin: 0 auto;
}

html{
    height: 100vh;
}

body{
    height: 100vh;
}